<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>List</h1>
    <div class="mb3">
        <ul>
            {% for i in all_review %}
            <li>
                <h5>{{i.first_name|lower|capfirst}} {{i.last_name|lower|capfirst}}</h5>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>